extends layout

block title
  title hapi.js

block header

  .content

    section.bottom-rule.introduction
      .cf

        h2 用于构建应用程序和服务的丰富框架
        h4 hapi使开发人员能够专注于编写可重用的应用程序逻辑，而不是花时间构建基础架构。

        .install-hapi.cf
          p $ npm install hapi
          .cursor.animated.flash

        .latest-update
          small 当前版本： <a href='https://github.com/hapijs/hapi/tags'>#{version.version}</a>
          small  ● 最近更新：
          small  <a href="#{latestUpdate.url}" role="update">#{latestUpdate.updated}</a>
          small  ● 上个月下载：
          small  <a href="http://npm-stat.com/charts.html?package=hapi">#{downloads}</a>

block content

  .content

    section.bottom-rule.community
      h2 社区
      p hapi的 <strong>稳定性</strong> 和 <strong>可靠性</strong> 赋予了这些公司今天的能力：

      .cf

        each company in frontPage
          if company.url
            a(href=company.url, class='community-logo')
              img(src=`/public/img/${company.logo}`, width=(company.width ? company.width : undefined), height=(company.height ? company.height : undefined), alt=company.name)
          else
            img(src=`/public/img/${company.logo}`, width=(company.width ? company.width : undefined), height=(company.height ? company.height : undefined), alt=company.name)

      a(href='/community', class='button button-primary') 查看更多

      p 你也在使用hapi吗？ <a href='https://github.com/hapijs/hapijs.com#community'>让我们知道</a>。

      p 加入我们关于Slack at <a href='https://hapihour.slack.com'>hapihour.slack.com</a> （<a href='https://join.slack.com/t/hapihour/shared_invite/enQtNTA5MDUzOTAzOTU4LTUyZmFiYjkyMTBmNDcyMmI2MmRjMzg4Y2YzNTlmNzUzNjViN2U1NmYyY2NjYjhiYWU4MGE2OTFhZDRlYWMyZDY'>第一次？加入这里</a>）。

    section.bottom-rule.getting-started
      h2 入门
      p 首先创建一个 #[code package.json] ：

      .highlight.highlight-bash
        pre npm init

      p 安装hapi并将其保存到 #[code package.json] 依赖项：

      .highlight.highlight-bash
        pre npm install hapi --save

      p 使用以下内容创建 #[code server.js] 文件：

      .highlight.highlight-javascript
        pre
          span.pl-s1
            span.pl-pds '
            | use strict
            span.pl-pds '
          | ;
          br

          br
          span.pl-s const
          |  Hapi
          span.pl-k =
          span.pl-s3 require
          | (
          span.pl-s1
            span.pl-pds '
            | hapi
            span.pl-pds '
          | );
          br

          br
          span.pl-c // Create a server with a host and port
          br

          span.pl-s const
          |  server
          span.pl-k =
          span.pl-en Hapi.server({
          br
          |     host:
          span.pl-s1
            span.pl-pds '
            | localhost
            span.pl-pds '
          | ,
          |     port:
          span.pl-c1 8000
          |
          | });
          br

          br
          span.pl-c // Add the route
          br

          | server.route({
          |     method
          span.pl-k :
          span.pl-s1
            span.pl-pds '
            | GET
            span.pl-pds '
          | ,
          |     path
          span.pl-k :
          span.pl-s1
            span.pl-pds '
            | /hello
            span.pl-pds '
          | ,
          |     handler
          span.pl-k :
          span.pl-st function
          | (
          span.pl-vpf request
          | ,
          span.pl-vpf h
          | ) {
          br
          br
          span.pl-s         return
          span.pl-s1
            span.pl-pds '
            | hello world
            span.pl-pds '
          | ;
          |     }
          | });
          br

          br
          span.pl-c // Start the server
          br

          span.pl-s const start = 
          |  async function() {
          br

          br
          span.pl-s     try
          |  {
          br
          span.pl-s         await
          |  server.start();
          br
          |     }
          br
          span.pl-s     catch
          |  (err) {
          |         console.log(err);
          |         process.exit(1);
          |     }
          br

          br
          |     console.log(
          span.pl-s1
            span.pl-pds '
            | Server running at:
            span.pl-pds '
          | , server.info.uri);
          | };
          br

          br
          | start();
          br

      p 通过运行 #[code npm start] 启动应用程序并在浏览器中打开 #[em localhost:8000/hello] 。

      a(href='/tutorials', class='button button-primary') 阅读更多关于 hapi 入门的信息
