extends layout

block title
  title hapi Resources

block content
  -  function spaceToDash(s) { return s.replace(/\s+/g, '-'); };
  .content.page-api.cf

    .column.api-description
      p 除了您在本网站上可以找到的内容之外，还有很多社区制作的内容可以帮助您学习如何使用hapi.js。 如果您已经产生了一些您希望在此列表中看到的内容，请发送给我们 <a href="https://github.com/hapijs/hapijs.com/blob/master/lib/resources.js">pull request</a>.

      each category, categoryName in resources.categories
        .category
          a(id=spaceToDash(categoryName))
          h3= categoryName

          ul
            each item, itemName in category
              li
                a(href=item.url)= itemName
                p= item.description

    .column.nav-secondary
      nav(role='toc')
        h3 资源

        ul.unstyled(role='categories')
          each category, categoryName in resources.categories
            li(role='category')
              a(href=`#${spaceToDash(categoryName)}`)= categoryName
